{% extends 'PortalPacienteBundle:Default:base.html.twig' %}

{% block title %}
    <title>Sitio no disponible</title>
{% endblock title %}

{% block content %}
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center">
        <h1>
            El sistema no dispone de esta característica. <br /> Por favor comuníquese con su centro de salud para mayor información.
        </h1>
    </div>
{% endblock content %}
