{% extends 'PortalPacienteBundle:Default:base.html.twig' %}
{% block title%}
    <title>Reset password</title>
{% endblock title %}
{% block content %}
    <div class="container containerLogin">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12 col-xs-12">
                            <p>Enter your email address and we will send you a link to reset your password.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-12">Email</label>
                        <div class="col-sm-12 col-xs-12">
                            <input type="email" class="form-control" id="inputEmail" autofocus required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success form-control">Send password reset email</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 col-xs-12">
                            <a href="{{ path('portal_paciente_login') }}"><span class="glyphicon glyphicon-arrow-left"></span> back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
